* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
li{
    list-style: none;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
  }
  .menu {
    display: flex;
    gap: 2em;
    font-size: 18px;
    padding-right: 20px;
  }

.menu li:hover{
    cursor: pointer;
    color:black;
}
.menu li:hover::after{
    color:#fff;
}