
#Item{
    width: 100%;

}

#Qty{
    width:60px;
}

#Price{
    width:80px;
}
body{
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 5%;
}

.Customer{
    display:inline-flex;
    justify-content: space-between;
}

.Customer div {
    font-size: 1.5em;
    align-content: middle;
}

.item2{
    margin-left: 15px;
    padding: 5px;
}

.search, .header, .quote, .quotenav{
    margin-left: 15px;
    padding: 5px;
    display:flex;
    align-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    border-bottom: 3px solid lightgray;

    color: lightgray;
    text-align: center;
    background-image: "../../imgs/search.png";

    margin: auto;
    display: block;
    width: 75%;
}

.quotenav{
    justify-content: center;
}

.hid, .qid{
    width:30%;
}
.hname, .qname{
    width:70%;
}

.qid {
    border-left: 4px solid lightgray;
    border-top: 4px solid lightgray;
    border-bottom: 4px solid lightgray;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.qname {
    border-right: 4px solid lightgray;
    border-top: 4px solid lightgray;
    border-bottom: 4px solid lightgray;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.qid, .qname {
    padding-left: 5px;
    padding-right: 5px;
    height:50px;
    line-height: 50px;
}

p {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}