<html>
  <body>

    <div class="Customer">
      <h2 class="item">Customer: </h2>
      <div class="name" *ngFor="let quote of selectedQuote">{{quote.CustName}}</div>
    </div>

    <div class = "EntireQuote">
      <form [formGroup]="quoteForm">
        <div formArrayName="rows">
          <div class="row" *ngFor="let control of rowControls; let i = index" [formGroupName]="i">
            <ng-container *ngIf="checkIfDeleted(control['value'])">
              <div class="col col-md-auto">
                <h4>___</h4>
                <div class="p-3 border bg-dark">
                  <button (click)="DeleteRow(control['value'])">DELETE</button>
                </div>
              </div>
              <div class="col col-lg">
                <h4>Description</h4>
                <div class="p-3 border bg-dark">
                  <input style="width:100%;" formControlName="Item" type="text">
                </div>
              </div>
              <div class="col col-md-auto">
                <h4>Qty</h4>
                <div class="p-3 border bg-dark">
                  <input formControlName="Qty" type="number">
                </div>
              </div>
              <div class="col col-md-auto">
                <h4>Price</h4>
                <div class="p-3 border bg-dark">
                  <input formControlName="Price" type="number" step="0.01">
                </div>
              </div>
            </ng-container>
          </div>
        </div>
          
        <div class="row justify-content-center">           
          <div class="QuoteTotal col-auto">
            <h4>Total:</h4>
            <h5>${{ total | number: '1.2-2'}}</h5>
          </div>
        </div>
        <div class="secretSection" *ngIf="showSecretNote">
          <h4>Secret Notes: </h4>
          <div formArrayName="SecretNotes">
            <div class="secret-note" *ngFor="let control of SecretNotesControls; let x = index" [formGroupName]="x">
              <div class="p-3 border bg-dark">
                <input style="width:100%;" formControlName="SecretNote" type="text">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="discount">
      <!--Drop Down Menu-->
      <select class="item2" [(ngModel)]="DiscountType" (ngModelChange)="DiscountSelect()">
          <option value="P">Percentage (%)</option>
          <option value="D">Dollar Amount ($)</option>
      </select>
      <!--End of Drop Down-->

      <!--Code below is for Percentage Option-->
          <ng-container *ngIf="DiscountType == 'P'">
              <label for="dscnt">Final Discount(%):</label>
              <input id="dscnt" type="number" step=".01" [(ngModel)]="DiscountPercent" max="1" (ngModelChange)="ApplyDiscount()">
              <button class="SubButton" (click)="SubmitFinal()" matt-raised-button>Enter</button>
          </ng-container>
      <!--End of Percentage Option-->

      <!--Code below is for Dollar Option-->
          <ng-container *ngIf="DiscountType == 'D'">
              <label for="dscnt">Final Discount($):</label>
              <input id="dscnt" type="number" step=".5" [(ngModel)]="DiscountDollar" [max]="total" (ngModelChange)="ApplyDiscount()">
              <button class="SubButton" (click)="SubmitFinal()" matt-raised-button>Enter</button>
          </ng-container>
      <!--End of Dollar Option-->
    </div>

    <div>
      <div>
        <input type="radio" [(ngModel)]="Status" value="U" />
        <label for="U">Unsanctioned</label>
      </div>
      <div>
        <input type="radio" [(ngModel)]="Status" value="S"/>
        <label for="S">Sanctioned</label>
      </div>
    </div>

    <div class="QuoteButtons">
      <button (click)="addRow()" class="btn btn-primary">Add Row</button>
      <button (click)="AddNote()" class="btn btn-primary">Add Secret Note</button>
      <button (click)="CancelEdit()" class="btn btn-primary">Cancel</button>
      <button (click)="QuoteUpdate()" class="btn btn-primary">Update Quote</button>
    </div>



  </body>
</html>