<html>
  <body>

    <div class="search">
        <input type="text" id="iqid" name="iqi" value="Search by ID"/>
    </div>

    <div class="header">
        <div class="hid">
            <h4>Quote ID</h4>
        </div>

        <div class="hname">
            <h4>Name</h4>
        </div>

        <div class="hstatus">
            <h4>Status</h4>
        </div>
  </div>


  <div class="quote">

    <div class="qid">
      <p>ID number</p>
    </div>

    <div class="qname">
      <p>Company Name</p>
    </div>
    
    <div class="qstatus">
      <p>Status</p>
    </div>
  </div>

  <div class="quotenav">
    &lt; 1 &gt;
  </div>

  </body>
</html>