<html>
  <body>
    <div class="search">
        <input class="searchID" placeholder="Search by ID" type="text" [(ngModel)]="SearchID"/>
        <input class="searchName" placeholder="Search by Name" type="text" [(ngModel)]="SearchName"/>
        <input class="searchStatus" placeholder="Search by Status" type="text" [(ngModel)]="SearchStatus"/>
    </div>

    <div class="header">
        <div class="hid">
            <h4>Quote ID</h4>
        </div>

        <div class="hname">
            <h4>Name</h4>
        </div>

        <div class="hstatus">
            <h4>Status</h4>
        </div>
  </div>


  <div *ngFor="let quote of Quotes">
    <ng-container *ngIf="isSearched(quote)">
      <div class="quote" (click)="ViewQuote(quote.ID)">
        <span class="qid">
          <p>{{quote.ID}}</p>
        </span>

        <span class="qname">
          <p>{{quote.CustName}}</p>
        </span>
        
        <span class="qstatus">
          <p>{{quote.Status}}</p>
        </span>
      </div>
    </ng-container>
  </div>

  </body>
</html>