html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }


  .router-content {
    flex-grow: 1;
  }
  .app-nav-bar{
    margin-bottom: auto;
  }

  .app-footer {
    margin-top: auto;
  }