@media screen and (max-width: 768px){
    .hamburger {
        display: block;
    }  
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #101010;
    }
    .hamburger:hover{
        .bar{
            background-color: white;
        }
        cursor: pointer;
    }
    .menu{
        display: none;
    }

}
.nav{
    max-height: none;
    width: 100%;
    top: 0;
    position: relative;
}

.menu li{
    float: left;
    padding-left: 20px;
}

.menu{
    list-style: none;
}


.nav{
    height: 100%;
    width: 100%;
    background-color: grey;
    padding: 20px;
    overflow: hidden;
}

.menu a{ 
    color: black;  
    text-decoration: none;
    font-size: x-large;
    transition: .4s ease-out;
    transform-origin: bottom left;
}

.nav a:hover{
    color:white;
    border-bottom: 1px solid white;
    padding-bottom: -1px;
}

.footer{
    background-color: grey;
    padding: 20px;
}

.TradeMark{
    text-align: center;
}