table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
.table-container {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }
.header-container{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.search-container{
    display: flex;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%; 
}

.button-container{
    padding-left: 5%;
}
table {
    background-color: green;
    border: blue;
}
text {
    color: white;
}
