<html>
    <body>
        <h1> 4 Guys & 1 Computer Admin Page</h1>
        <h1> Sales associate records</h1>
        <div class = "search-container">
            <div>
                <input type="text" placeholder="Search Associates" [(ngModel)]="searchTerm">
                <button class="buttons" (click)="searchAssoc()">Search</button>
                <button class="buttons" (click)="addAssociateModal()">Add</button>
            </div>
            <div>
                <input type="text" placeholder="Search Quotes" [(ngModel)]="searchTerm2">
                <button class="buttons" (click)="searchQuote()"> Search</button>
                <button class="buttons"> Search based on status</button>
            </div>
        </div> 
        
        <div class="button-container">
            <div *ngIf= "isAddAssocModal" >
                <form (ngSubmit)="addAssoc($event)" #myForm>
                   <div class="form-group">
                     <label for="InputId">ID:</label>
                     <br/>
                     <input name="EmpId" type="text" id="InputId" aria-describedby="idHelp" placeholder="Enter Employee ID" [(ngModel)]="ID" required>
                   </div>
                   <div class="form-group">
                     <label for="InputName">Name:</label>
                     <br/>
                     <input name="EmpName" type="text" id="InputName" aria-describedby="nameHelp" placeholder="Enter Name" [(ngModel)]="Name" required>
                   </div>
                   <div class= "form-group"> 
                     <label for="InputPass">Password:</label>
                     <br/>
                     <input name="EmpPass" type="text" id="InputPass" aria-describedby="passHelp" placeholder="Enter Password" [(ngModel)]="Password" required>
                   </div>
                   <div class="form-group">
                       <label for="InputComm">Sales Commission:</label>
                       <br/>
                       <input name="EmpComm" type="text" id="InputComm" aria-describedby="commHelp" placeholder="Enter SalesCommision" [(ngModel)]="SalesCommision" required>
                   </div>
                   <div class="form-group">
                       <label for="InputAddress">Address:</label>
                       <br/>
                       <input name="EmpAddress" type="text" id="InputAddress" aria-describedby="addressHelp" placeholder="Enter Address" [(ngModel)]="Address" required>
                   </div>
                   <button type="submit" id="subButton" class="buttons">Submit</button>
                   <button class="buttons"(click)="closeAddAssocModal()"> close</button>
                 </form>
            </div>
            <div *ngIf="editAssocModal()" class="modal">
                <div class="modal-content">
                  <button class="buttons" (click)="closeEditAssocModal()">close </button>
                  <h2>Edit Associate</h2>
                  <div class="form-group">
                    <label for="editedName">Name:</label>
                    <br/>
                    <input name="editedName" type="text" id="editedName" placeholder="Edit Name" [(ngModel)]="selectedAssoc.Name" required>
                  </div>
                  <button class="buttons" (click)="saveEditedAssoc()">Save Changes</button>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table class="main-table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Password</td>
                        <td>Sales Commission</td>
                        <td>Address</td>
                        <td> </td>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <tr *ngFor="let rows of assoc">
                        <td>{{rows.ID}}</td>
                        <td>{{rows.Name}}</td>
                        <td>{{rows.Password}}</td>
                        <td>{{rows.SalesCommision | number: '1.2-2'}}</td>
                        <td>{{rows.Address}}</td>
                        <div class="row-buttons">
                            <button (click)="editAssoc($event)">Edit</button>
                            <button class="buttons">Delete</button>
                            <button class="buttons">View</button>
                        </div>
                    </tr>
                </tbody>
            </table>
            <table class="main-table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>AssocID</td>
                        <td>CustID</td>
                        <td>Customer Name</td>
                        <td> QuoteDate</td>
                        <td>Status</td>
                        <td>Total</td>
                        <td>Discount</td>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <tr *ngFor="let rows of quote">
                    
                        <td>{{rows.ID}}</td>
                        <td>{{rows.AssocID}}</td>
                        <td>{{rows.CustID}}</td>
                        <td>{{rows.CustName}}</td>
                        <td>{{rows.QuoteDate}}</td>
                        <td>{{rows.Status}}</td>
                        <td>{{rows.Total}}</td>
                        <td>{{rows.Discount}}</td>
                
                    </tr>
                </tbody>
            </table>
        </div>        
    </body>
</html>