.table-container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

}
.assoc-table-related{
    align-items: center;
    padding-top: 65px;
}
.header-container{
    display: flex;
    justify-content: space-around;
}

.search-assoc{
    position: relative;
    margin: 0 auto;
}


.assoc-table {
    width: 100%;
}


.quote-table {
    width: 100%;
}

.button-container{
    padding-left: 5%;
}
.q-table, .assoc-table{
    border: 5px solid black;
    padding: 8px;
    text-align: center;
}
.q-table tbody tr:hover {
    background-color: rgb(0, 0, 0);
    color:#ffffff
}

.assoc-table tbody tr:hover{
    background-color: rgb(0, 0, 0);
    color:#ffffff 
}

.q-table td, .assoc-table td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.q-table th, .assoc-table th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}


text {
    color: white;
}

.buttons{
    padding: 5px;
    border-radius: 10%;
}

.buttons:hover{
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.row-buttons{
    display: inline-flex;
}

.main-table{
    border-color: black;
    border-collapse: collapse;
    width: 50em;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 0px 10px 30px 5px #00000026;
    margin: 25px auto;
}

.main-table thead tr{
    border-bottom: 1px dashed black;
}

.secretLabel{
    float: left;
}

.po-button{
    padding: 5px;
    border-radius: 10%;
}

.quote-table{
    margin: 0 auto;
}

.quote-table th{
    padding-right: 40px;
}

.quote-table tr{
    border: solid;
}

.quote-table td{
    padding-right: 40px;
    padding:10px;
}

.note{
    border-collapse: collapse;
}

.tFooter2{
    border-top: 1px dashed black;
}

.main-table thead tr td{
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 1px;
    color: black;
    padding: 8px;
}

.main-table tbody tr td{
    height: 100px;
    font-size: 20px;
    font-family: monospace;
    color: black;
    letter-spacing: 1px;
    padding: 8px;
}

.main-table tfoot tr td{
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 1px;
    padding: 8px;
}

.main-table tfoot td input{
    background-color: grey;
    font-size: 10px;
    font-family: monospace;
    color: black;
    padding: 8px;
}

.main-table td button{
    background-color: grey;
    color: black;
    font-size: 15px;
    font-family: monospace;
    letter-spacing: 1px;
    padding: 8px;
}

.main-table thead tr td:nth-last-child(1),
.main-table tbody tr td:nth-last-child(1),
.main-table tfoot tr td:nth-last-child(1)
{
    text-align: right;
}

.main-table thead tr{
    border-bottom: 1px dashed black;
}

.secretLabel{
    float: left;
}

.Quote-Rows{
    cursor: pointer;
}
.Assoc-Rows{
    cursor: pointer;
}

.Quote-Related{
    text-align: center;
}

.add-assoc-container{
    text-align: center;
    justify-content: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Add spacing between form fields */
}

.button-container{
    display: flex;
    margin-right: 40px;
}

.add-assoc-form{
    display: flex;
    width: 40%;
    align-items: center;
    flex-direction: column;
    margin-left: 30%;
    border: 5px solid rgb(0, 0, 0);
    padding: 10px;
}

.edit-assoc-form{
    display: flex;
    width: 40%;
    align-items: center;
    flex-direction: column;
    margin-left: 30%;
    border: 5px solid rgb(0, 0, 0);
    padding: 10px;
}

.edit-assoc-container{
    text-align: center;
    justify-content: center;
}

.CloseView{
    float: right;
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.Date-Container{
    padding-left: 80px;
    padding-bottom: 30px;
    display: flex;
    text-align: center;
}

.status-filter{
    margin-left: 40px;
}

