<body>
    <nav class="nav">
        <h3>PlantOps: The Botanical Geeks</h3>
        <ul class="menu" *ngIf="!isHomeComponent && !isSalesAssoc">
          <li><a href="/quote">Create a Quote</a></li>
          <li><a href="/admindash">Admin</a></li>
        </ul>
        <div *ngIf="isHomeComponent">
          <button id="OpenLogin" class="btn btn-primary" (click)="Showlogin()">Login</button>  
        </div>
        <div *ngIf="!isHomeComponent">
          <button class="btn btn-primary" (click)="LogOut()">Logout</button>
        </div>
      </nav>
    
</body>