
.menu li{
    float: left;
    padding-right: 10px;
}

.menu{
    list-style: none;
}


.nav{
    height: 100%;
    width: 100%;
    background-color: grey;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.menu a{ 
    color: black;  
    text-decoration: none;
    font-size: x-large;
    transition: .4s ease-out;
    transform-origin: bottom left;
}

.nav a:hover{
    color:white;
    border-bottom: 1px solid white;
    padding-bottom: -1px;
}