<body>
    <nav class="nav">
        <h3>Quote Maker 4000</h3>
        <ul class="menu" *ngIf="!isHomeComponent && !isSalesAssoc">
          <li><a href="/quote">Create a Quote</a></li>
          <ng-container *ngIf="!isManagerPageOne">
            <li><a href="/viewquotes">Edit a Quote</a></li>
          </ng-container>
          <ng-container *ngIf="!isManagerPageTwo">
            <li><a href="/pocreate">Purchase Order</a></li>
          </ng-container>
        </ul>
        <div *ngIf="isHomeComponent">
          <button id="OpenLogin" class="button" (click)="Showlogin()">Login</button>  
        </div>
        <div *ngIf="!isHomeComponent">
          <button class="button" (click)="LogOut()">Logout</button>
        </div>
      </nav>
</body>