<body>
    <nav class="nav">
        <h3>4 Guys & 1 Computer</h3>
        <ul class="menu" *ngIf="!isHomeComponent && !isSalesAssoc">
          <li><a href="/quote">Create a Quote</a></li>
          <li><a href="/quoteedit">Manager</a></li>
          <li><a href="/pocreate">Create PO</a></li>
        </ul>
        <div *ngIf="isHomeComponent">
          <button id="OpenLogin" class="btn btn-primary" (click)="Showlogin()">Login</button>  
        </div>
        <div *ngIf="!isHomeComponent">
          <button class="btn btn-primary" (click)="LogOut()">Logout</button>
        </div>
      </nav>
    
</body>