
#Item1 {
    width: 100%;

}

#Qty{
    width:60px;
}

#Price{
    width:80px;
}
body{
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 5%;
}

.SelectCustomer{
    display:inline-flex;
    justify-content: space-between;
}

.QuoteButtons button{
    margin-right: 5%;
}

