<html>
  <body>
    <div class="Greeting">
      <h1>Hello {{ EmpName }}!</h1>
    </div>
    <div class="SelectCustomer">
      <div class="email-container">
        <h4>Customer Email:</h4>
        <input class="email-input" type="text" id="cust-email" [(ngModel)]="CustEmail" placeholder="Customer Email">
      </div>
      <div class="select-container">
        <h4 class="item">Select A Customer:</h4>
        <select class="item2" [(ngModel)]="SelectedVal" (ngModelChange)="RetriveCustomer()">
          <option [ngValue]="undefined" disabled hidden>Select a Customer</option>
          <option *ngFor="let option of selectOptions" [value]="option.id" >{{ option.name }} </option>
        </select>
      </div>
    </div>

    <div class = "EntireQuote">
      <form [formGroup]="quoteForm">
        <div formArrayName="rows">
          <div class="row" *ngFor="let control of rowControls; let i = index" [formGroupName]="i">
            <div class="col col-lg">
              <h4>Description</h4>
              <div class="p-3 border bg-dark">
                <input style="width:100%;" formControlName="Item" type="text">
              </div>
            </div>
            <div class="col col-md-auto">
              <h4>Qty</h4>
              <div class="p-3 border bg-dark">
                <input formControlName="Qty" type="number">
              </div>
            </div>
            <div class="col col-md-auto">
              <h4>Price</h4>
              <div class="p-3 border bg-dark">
                <input formControlName="Price" type="number" step="0.01">
              </div>
            </div>
          </div>
        </div>
          
        <div class="row justify-content-center">           
          <div class="QuoteTotal col-auto">
            <h4>Total:</h4>
            <h5>${{ total | number: '1.2-2'}}</h5>
          </div>
        </div>
        <div class="secretSection" *ngIf="showSecretNote">
          <h4>Secret Notes: </h4>
          <div formArrayName="SecretNotes">
            <div class="secret-note" *ngFor="let control of SecretNotesControls; let x = index" [formGroupName]="x">
              <div class="p-3 border bg-dark">
                <input style="width:100%;" formControlName="SecretNote" type="text">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="QuoteButtons">
      <button (click)="addRow()" class="buttons">Add Row</button>
      <button (click)="AddNote()" class="buttons">Add Secret Note</button>
      <button (click)="QuoteFinish()" class="buttons">Submit Quote</button>
    </div>
    
  </body>
</html>