<html>
  <body>
    <div class="SelectCustomer">
      <h2 class="item">Select A Customer:</h2>
      <select class="item2">
        <option value="">Select an option</option>
        <option *ngFor="let option of selectOptions" [value]="option.id">{{ option.name }}</option>
      </select>
    </div>
    
    <div #container>  
      <div class="row">
        <div class="col col-lg">
          <h4>Description</h4>
          <div class="p-3 border bg-dark"><input id="Item1" type="text"></div>
        </div>
        <div class="col col-md-auto">
          <h4>Qty</h4>
          <div class="p-3 border bg-dark"><input id="Qty1" type="number"></div>
        </div>
        <div class="col col-md-auto">
          <h4>Price</h4>
          <div class=" p-3 border bg-dark"><input id="Price1" type="number" step="0.01"></div>
        </div>
      </div>
    </div>

    <button (click)="AddRow()" class="btn btn-primary">Add Row</button>
  </body>
</html>