@media (max-width: 767px) {
    .row {
      display: flex;
      flex-direction: column;
    }
  
    .col {
      width: 100%;
    }
   
    .SelectCustomer {
      flex-direction: column; /* Stack elements vertically */
      justify-content: center; /* Center items vertically */
      align-items: center; /* Center items horizontally */
    }
  
    /* Optional: Adjust padding or margin for better spacing */
    .email-container,
    .select-container {
      padding: 10px; /* Adjust as needed */
    }
    .QuoteTotal{
      justify-content: center;
    }
  }

  .row:first-child{
    padding-top: none;
  }
  .row {
    border-bottom: 10px solid #000000; 
    padding-top: 10px;
    padding-bottom: 15px; 
    width: 100%;
  }

  .secret-note{
    margin-top: 20px;
  }
  
  .row:last-child {
    border-bottom: none; /* Remove border from the last row */
  }
#Item1 {
    width: 100%;

}

#Qty{
    width:60px;
}

#Price{
    width:80px;
}
body{
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 5%;
}

.SelectCustomer {
  display: flex;
  justify-content: space-around; /* Adjusts space between the divs */
  align-items: center; /* Aligns items vertically */
}

.email-container,
.select-container {
  /* Optional: Add padding or margin for spacing */
  padding: 5px;
}

.email-container{
  gap: 40px;
  padding-bottom: 20px;
}

/* Adjust widths or specific styling as needed */
.email-container input{
  width: 300px;
}

.Greeting{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.QuoteButtons{
    justify-content: center;
    display: flex;
    gap: 5%;
}

.QuoteTotal{
    display: flex;
    align-items: baseline;
    gap: 10%;

}
.buttons{
    padding: 5px;
    border-radius: 10%;
}

.buttons:hover{
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.email-input{
  width: 30%;
}

