body{
    padding:50px;
}

#LoginForm{
    display: none;
    position: absolute;
    padding-top: 50%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    background-color: grey;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: expandLogin 1s ease-in-out;
}

@keyframes expandLogin{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@media screen and (min-width: 769px){
    #WholeLogin{
        position: relative;
        height: 100vh;
    }
        
    #LoginForm{
        display: none;
        position: static;
        padding: 20px;
        border-radius: 5px;
        z-index: 1;
        overflow: hidden;
        background-color: grey;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        animation: expandLogin 1s ease-in-out;
        
    }    
}
#CloseLogin{
    display: none;
}

