<html>
  <head>
    <title>CSCI 467 Group 3B</title>
  </head>
  <body>
    <div class="WholeLogin">
      <div id="LoginForm">
        <h2>Login:</h2>
        <div *ngIf="loginError" class="ErrorMessage">
          Incorrect username or password.
        </div>
        <form (ngSubmit)="ValidateLogin($event)" #myForm>
          <div class="form-group">
            <label for="InputEmail">Email address:</label>
            <br/>
            <input name="Email" type="email" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="Email" required>

          </div>
          <div class="form-group">
            <label for="InputPassword">Password:</label>
            <br/>
            <input name="Password" type="password" id="InputPassword" aria-describedby="passwordHelp" placeholder="Enter Password" [(ngModel)]="Password" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <button id="CloseLogin" class="btn btn-primary" (click)="CloseLogin()">Close</button>
      </div>
    </div>
  </body>
</html>
 