<html>
<head>
    <link rel="stylesheet" href="pocreate.component.css">
    <title>group</title>
</head>
<body>
    <!--Code Below is for Drop Down Menu-->
    <select class="item2" [(ngModel)]="SelectedVal" (ngModelChange)="RetriveData()">
        <option value="">Select a quote</option>
        <option *ngFor="let option of selectOptions" [value]="option.ID">Quote #: {{ option.ID }}, Customer Name: {{option.CustName}}</option>
    </select> 
    <!--End of Drop Down Menu Code-->

    <!--Code below is  for table-->
    <table class="main-table">
        <!--Table Header-->
        <thead>
            <tr>
                <td>Description</td>
                <td>Quantity</td>
                <td>Price</td>
            </tr>
        </thead>
        <!--End of Table Header-->

        <!--Table Body Contents-->
        <tbody id="myTable">
            <tr *ngFor="let rows of QuoteLine">
                <ng-container *ngIf="rows.SecretFlag == 'N'">
                <td>{{rows.RowDesc}}</td>
                <td>{{rows.RowQty}}</td>
                <td>{{rows.RowPrice}}</td>
            </ng-container>
            </tr>
        </tbody>
        <!--End of Table Body Contents-->

        <!--Table footer Secret Message-->
        <tfoot>
            <tr class="note">
                <td class="secretLabel" colspan="3">
                    Secret Message:
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr *ngFor="let rows of QuoteLine" >
                <ng-container *ngIf="rows.SecretFlag == 'Y'">
                <td>{{rows.RowDesc}}</td>
            </ng-container>
            </tr>
        </tfoot>
        <!--End of Table footer Secret Message-->
    </table>
    <!--End of Table-->
    
    <div class="row justify-content-center">           
        <div class="QuoteTotal col-auto">
            <h4>Total:</h4>
            <h5>${{ total | number: '1.2-2'}}</h5>
        </div>  
    </div>

    <select class="item2" [(ngModel)]="DiscountType" (ngModelChange)="DiscountSelect()">
        <option value="P">Percentage (%)</option>
        <option value="D">Dollar Amount ($)</option>
    </select>

    
        <ng-container *ngIf="DiscountType == 'P'">
            <label for="dscnt">Final Discount(%):</label>
            <input id="dscnt" type="number" step=".01" [(ngModel)]="DiscountPercent" max="1" (ngModelChange)="ApplyDiscount()">
        </ng-container>


        <ng-container *ngIf="DiscountType == 'D'">
            <label for="dscnt">Final Discount($):</label>
            <input id="dscnt" type="number" step=".5" [(ngModel)]="DiscountDollar" [max]="total" (ngModelChange)="ApplyDiscount()">
        </ng-container>

        <div>
            <button (click)="SubmitFinal()" matt-raised-button>Enter</button>
        </div>

</body>  
</html>

