*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body
{
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right:20%;
    padding-left: 20%;
    background-color: rgb(243, 243, 243);
}

select{
    margin: 40px;
    background-color: grey;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.main-table{
    border-color: black;
    border-collapse: collapse;
    width: 50em;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 0px 10px 30px 5px #00000026;
    margin: 25px auto;
}

.main-table thead tr{
    border-bottom: 1px dashed black;
}

.secretLabel{
    float: left;
}

.po-button{
    padding: 5px;
    border-radius: 10%;
}

.quote-table{
    margin: 0 auto;
}

.quote-table th{
    padding-right: 40px;
}

.quote-table tr{
    border: solid;
}

.quote-table td{
    padding-right: 40px;
    padding:10px;
}

.note{
    border-collapse: collapse;
}

.tFooter2{
    border-top: 1px dashed black;
}

.main-table thead tr td{
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 1px;
    color: black;
    padding: 8px;
}

.main-table tbody tr td{
    height: 100px;
    font-size: 20px;
    font-family: monospace;
    color: black;
    letter-spacing: 1px;
    padding: 8px;
}

.main-table tfoot tr td{
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 1px;
    padding: 8px;
}

.main-table tfoot td input{
    background-color: grey;
    font-size: 10px;
    font-family: monospace;
    color: black;
    padding: 8px;
}

.main-table td button{
    background-color: grey;
    color: black;
    font-size: 15px;
    font-family: monospace;
    letter-spacing: 1px;
    padding: 8px;
}

.main-table thead tr td:nth-last-child(1),
.main-table tbody tr td:nth-last-child(1),
.main-table tfoot tr td:nth-last-child(1)
{
    text-align: right;
}

.discount{
    padding-left: 10%;
}

.SubButton
{
    margin-left: 15px;
    padding: 2px;
}

.custname-container{
    color: blue;
    padding-bottom: 10px;
}

.custinfo-container{
    padding-bottom: 10px;
}

.custemail-container{
    display: flex;
    gap: 20px;
}

.buttons{
    padding: 5px;
    border-radius: 10%;
}

.buttons:hover{
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.anotherOne{
    float: right;
    margin-top: 55px;
}