<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.google.com/specimen/Sometype+Mono?preview.text=,mlm" rel="stylesheet">
    <link rel="stylesheet" href="pocreate.component.css">
    <title>group</title>
</head>
<body>
   
    <select>  <!--drop down menu -->
        <option> 
            quote-id 
        </option>
        <option>
            custie-names
        </option>
    </select>
    <table class="main-table">
        <thead>
            <tr>
                <td>Customer Name</td>
                <td>Description</td>
                <td>Quantity</td>
                <td>Total Amount</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Malawn Deeck </td>
                <td>Bought hella shit </td>
                <td>10000 </td>
                <td>20,000 </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><label for="dscnt">Final Discount:</label></td>
                <td><input type="number" id="dscnt" placeholder="Enter Number"></td>
                <td colspan="2"><button type="button">Enter</button></td>
            </tr>
        </tfoot>
    </table>

</body>  
</html>


